// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import '~vuetify/src/styles/settings/variables.scss';

//override
$heading-font-family: 'Playfair Display', serif;
$body-font-family: 'Montserrat', sans-serif;
$button-font-family: 'Roboto', sans-serif;
$font-size-root: 16px;

$material-light: (
  'background': #EEECE8
);

.v-application ul,
.v-application ol {
  padding-left: 0;
  list-style-position: inside;  
}

.detail-val ul {
  @media #{map-get($display-breakpoints, 'md-and-up')} {
    list-style-position: outside;
  }
}

$headings: (
  'h1': (
    'size': 3rem,
    'weight': 700,
    'line-height': 4rem,
    'letter-spacing': normal,
    'font-family': $heading-font-family,
    'text-transform': false
  ),
  'h2': (
    'size': 1.5rem,
    'weight': 700,
    'line-height': 2rem,
    'letter-spacing': .0125em,
    'font-family': $heading-font-family,
    'text-transform': false
  ),
  'h3': (
    'size': 1.75rem,
    'weight': 400,
    'line-height': 2.125rem,
    'letter-spacing': normal,
    'font-family': $body-font-family,
    'text-transform': false
  ),
  'h4': (
    'size': 1.25rem,
    'weight': 400,
    'line-height': 1.75rem,
    'letter-spacing': normal,
    'font-family': $body-font-family,
    'text-transform': false
  ),
  'body-1': (
    'size': 1rem,
    'weight': 400,
    'line-height': 1.75rem,
    'letter-spacing': normal,
    'font-family': $body-font-family,
    'text-transform': false
  ),
  'caption': (
    'size': .625rem,
    'weight': 400,
    'line-height': 1rem,
    'letter-spacing': normal,
    'font-family': $body-font-family,
    'text-transform': false
  ),
  'overline': (
    'size': .750rem,
    'weight': 700,
    'line-height': 1.5rem,
    'letter-spacing': .07rem,
    'font-family': $button-font-family,
    'text-transform': uppercase
  ),
  'button': (
    'size': 1rem,
    'weight': 700,
    'line-height': 1.5rem,
    'letter-spacing': .07rem,
    'font-family': $button-font-family,
    'text-transform': uppercase
  )
);

//my styles
.mw720 {
  max-width: 720px;
}

.container {
  max-width: 1080px;
}

.transparent-body {
  background: transparent;
}

.grey-color {
  color: rgba(48, 54, 51, 0.5);
}

.green-color {
  color: #3BBA6C;
}

.quote {
  border-left: 2px solid #303633;
  padding: 8px 0 8px 24px;
  font-style: italic;
}

// arrow
.arrow-container {
  width: 40px;
}

// arrow animation
@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.6 }
  100% { -webkit-transform: translateY(0.4em); opacity: 1 }
}
.arrow-down {
  -webkit-animation: downarrow 1.0s infinite alternate ease-in-out;
}

.above-the-fold {
  height: calc(100vh - 57px); //57px ma desktop header
  max-height: 1000px;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    // height: auto;
  }
}

@import '~vuetify/src/styles/styles.sass';
